In [78]:
# Notebook Dev Setup
%load_ext autoreload
%autoreload 2

import sys, os
sys.path.append(os.path.abspath(".."))  # Go up one level to root

import sys, os

def add_project_root():
    root = os.path.abspath("..")
    if root not in sys.path:
        sys.path.append(root)

def clean_sys_path():
    from collections import OrderedDict
    sys.path[:] = list(OrderedDict.fromkeys(sys.path))

add_project_root()
clean_sys_path()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [14]:
# Return customers data frame for specified year, test output
from pos_xref.shared.pos_config import get_raw_pos_customers
df = get_raw_pos_customers(year=2025, test_env=True)
df.head()

               sold_to_name bill_to_zip bill_to_state
0     DIVINIFIED INC - EAST          NY         10001
1  DIVINIFIED - WEST REGION          CA         90210
2               APPLE CORP.          CA    95014-8854
3           APPLE CORPORATE          CA     950148854
4         ****VIDEO SYS INC          ON       L3R 4C1

In [5]:
from utils.utils_io import gen_safe_excel_file
test_file_path = r"C:\Users\eddiec11us\Documents\Abt Neptune Price Model.xlsx"
new_file_path = gen_safe_excel_file(test_file_path)

In [ ]:
# build columns test
import pandas as pd
from pos_xref.shared.pos_config import _build_column_rename_map
df = pd.DataFrame({'column_a':[1,2,3], 'column_b':[4,5,6], 'column_c':[7,8,9]})
print(_build_column_rename_map(df.columns))

{'column_a': 'sold_to_name', 'column_b': 'bill_to_zip', 'column_c': 'bill_to_state'}

In [79]:
from pos_xref.shared.direct_config import compile_direct_custs
d_custs = compile_direct_custs()

<string>:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`

In [80]:
d_custs

[<pos_xref.shared.direct_config.Customer at 0x1f2481da2d0>,
 <pos_xref.shared.direct_config.Customer at 0x1f24778bef0>,
 <pos_xref.shared.direct_config.Customer at 0x1f2481d9cd0>,
 <pos_xref.shared.direct_config.Customer at 0x1f2481d0680>,
 <pos_xref.shared.direct_config.Customer at 0x1f2481da8d0>,
 <pos_xref.shared.direct_config.Customer at 0x1f249f6ebd0>]