In [ ]:
# Notebook Dev Setup
%load_ext autoreload
%autoreload 2

import sys, os
sys.path.append(os.path.abspath(".."))  # Go up one level to root

def add_project_root():
    root = os.path.abspath("..")
    if root not in sys.path:
        sys.path.append(root)

def clean_sys_path():
    from collections import OrderedDict
    sys.path[:] = list(OrderedDict.fromkeys(sys.path))

add_project_root()
clean_sys_path()

In [25]:
from pos_xref.process.fuzzy_matching import FuzzyMatcher
import pandas as pd

direct_data = {'acct_num':['AMZ135664'], 
            'customer_name': ['AMAZON DIRECT']}
direct_df = pd.DataFrame(direct_data)

foreign_data = {'acct_num':[None, None], 
                'customer_name':['AMAZON LLC', 'AMAZON DC']}
foreign_df = pd.DataFrame(foreign_data)

matcher = FuzzyMatcher(direct_df, foreign_df, match_col='customer_name')
matcher.run()

In [26]:
matcher.df_to_match

    acct_num  customer_name                                      fuzzy_matches
0  AMZ135664  AMAZON DIRECT  [(AMAZON DIRECT, 100.0, 1), (AMAZON DC, 81.818...
1       None     AMAZON LLC  [(AMAZON LLC, 100.0, 0), (AMAZON DC, 84.210526...
2       None      AMAZON DC  [(AMAZON DC, 100.0, 2), (AMAZON LLC, 84.210526...